.submenu_nav {
    font-family: Helvetica, sans-serif;
}

.submenu_list {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.submenu_nav_default {
    background-color: #57ba98;
}

.submenu_nav.submenu_nav_default:hover {
    background-color: #63cea9;
}

.submenu_list_default {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.submenu_nav_orange {
    background-color: #ff9d4e;
}

.submenu_nav.submenu_nav_orange:hover {
    background-color: #fe943d;
}

.submenu_nav_pink {
    background-color: #eb779e;
}

.submenu_nav.submenu_nav_pink:hover {
    background-color: #e86591;
}

.submenu_nav_blue {
    background-color: #59c4d1;
}

.submenu_nav.submenu_nav_blue:hover {
    background-color: #57b4c1;
}

.submenu_list_blue {
    text-transform: uppercase;
}