.menu_link {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
}

.menu_link_default {
    text-transform: uppercase;
}

.menu_link_orange {
    font-weight: bold;
}

.menu_link_blue {
    font-weight: 700;
}

.menu_link_pink {
    font-weight: 900;
}