.detail_div {
    width: 70%;
    margin-left: 15%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 20px 30px;
    box-sizing: border-box;
}

.detail_default {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border: 0 none;
    border-radius: 3px;
}

.detail_orange {
    align-items: center;
    border: 0 none;
    border-top: 3px solid rgb(255, 87, 34);
    box-shadow: 0 15px 40px -20px #ccc;
}

.detail_blue {
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #d0e3e4;
    border: 1px solid #eaf6f7;
}

.detail_pink {
    border-radius: 10px;
    box-shadow: #ccc 0px 3px 0px;
    border: 1px solid #ccc;
}