.btn_block {
    text-align: center;
}

.btn {
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    padding: 10px 10px;
    margin: 10px 5px;
    font-size: 1em;
    text-align: center;
    line-height: 1.3;
    width: 90%;
    cursor: pointer;
}

.btn :disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button_default {
    background-color: #2eaf7d;
    transition: 0.4s;
}

.btn.button_default:hover {
    background-color: #36cb92;
    transition: 0.4s;
}

.button_orange {
    background-color: rgb(255, 87, 34);
    background-image: linear-gradient(to right, #f59a00, #ff5722, #fd3d46, #fcca45);
    background-size: 250% 100%;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.btn.button_orange:hover {
    background-position: 100% 0;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.button_blue {
    background-color: #fff;
    border: 2px solid #00BCD4;
    color: #00BCD4;
    border-radius: 3px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.btn.button_blue:hover {
    color: #fff !important;
	background-color: transparent;
}

.btn.button_blue:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}

.btn.button_blue:before {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #fff !important;
	background-color: #00BCD4;
	transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.button_pink {
    background-color: #EC407A;
    border: 1px solid #EC407A;
    border-radius: 12px;
}

.btn.button_pink:hover {
    background-color: rgb(244, 244, 244);
    color: #C2185B;
}
