.basic_form {
    margin-top: 5%;
}

.form_fieldset {
    padding: 20px 30px;
    box-sizing: border-box;
    width: 70%;
    margin: auto 15% 30px 15%;
    position: relative;
    align-items: stretch;
}

.form_heading {
    text-align: center;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
}

.fieldset_default {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border: 0 none;
    border-radius: 3px;
}

.heading_default {
    color: #2E6A67;
    text-transform: uppercase;
}

.fieldset_orange {
    align-items: center;
    border: 0 none;
    border-top: 10px solid rgb(255, 87, 34);
    box-shadow: 0 15px 40px -20px #ccc;
}

.heading_orange {
    color: #404040;
    text-transform: uppercase;
}

.fieldset_pink {
    border-radius: 10px;
    box-shadow: #ccc 0px 8px 0px;
    border: 1px solid #ccc;
}

.heading_pink {
    color: #C2185B;
}

.fieldset_blue {
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #d0e3e4;
    border: 1px solid #eaf6f7;
}

.heading_blue {
    color: #0097A7;
}