.table_base {
    border-spacing: 0px;
    background: #fff;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-collapse: collapse;
}

.table_base.table_default {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border: 0 none;
    border-radius: 30px;
}

.table_base.table_orange {
    border-top: 3px solid rgb(255, 87, 34);
    box-shadow: 0 15px 40px -20px #ccc;
}

.table_base.table_pink {
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: #ccc 0px 1px 0px;
}

.table_base.table_blue {
    box-shadow: 0 0 2px 1px #d0e3e4;
}