.nav_root {
    text-align: center;
    font-family: sans-serif;
    list-style-type: none;
    display: flex;
}

.nav_root :hover {
    cursor: pointer;
}

.root_default {
    background-color: #2e6a67;
}

.nav_root.root_default:hover {
    background-color: #3b8885;
}

.root_span_default {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.root_orange {
    background-color: rgb(235, 79, 32);
}

.nav_root.root_orange:hover {
    background-color: rgba(255, 86, 34, 0.906);
}

.root_pink {
    background-color: #be2e5f;
}

.nav_root.root_pink:hover {
    background-color: #b31a4d;
}

.root_blue {
    background-color: #0091a3;
}

.nav_root.root_blue:hover {
    background-color: #00acc2;
}

.root_span_blue {
    text-transform: uppercase;
}