.date_label {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    color: #8e24aa;
}

.date_input::-webkit-datetime-edit { 
    padding: 1em; 
}

.date_input::-webkit-datetime-edit-fields-wrapper { 
    background: silver; 
}

.date_input::-webkit-datetime-edit-text { 
    color: red; padding: 0 0.3em; 
}

.date_input::-webkit-datetime-edit-month-field { 
    color: blue; 
}

.date_input::-webkit-datetime-edit-day-field { 
    color: green; 
}

.date_input::-webkit-datetime-edit-year-field { 
    color: purple; 
}

.date_input::-webkit-inner-spin-button { 
    display: none; 
}

.date_input::-webkit-calendar-picker-indicator { 
    background: orange; 
}