.visualization_div {
    padding-left: 1.5em;
    font-family: Helvetica, sans-serif;
}

.visualization_label {
    font-weight: bold;
    font-size: 14px;
}

.visual_label_default {
    color: #3c6654;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.visual_label_orange {
    color: #2C3E50;
}

.visual_label_blue {
    color: #0097A7;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.visual_label_pink {
    color: #be2e5f;
}

.visualization_content {
    color: #404040;
}