.input_base {
    padding: 13px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 90%;
    margin-left: 5%;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: normal;
}

.input_label {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5%;
}

.input_default {
    border: 1px solid #ccc;
}

.input_base.input_default:focus {
    outline: none;
    border: 1px solid #9bd3be;
    box-shadow: 0 0 2px 1px #36cb92;
}

.label_default {
    color: #3c6654;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.input_orange {
    border: 1px solid #ccc;
}

.input_base.input_orange:focus {
    border: 1px solid rgb(255, 87, 34);
    outline: none;
    color: #404040;
    background-color: #fef8f2;
}

.label_orange {
    color: #404040;
    text-transform: uppercase;
}

.input_blue {
    border: 1.4px solid rgb(202, 232, 233);
    color: #555555;
}

.input_base.input_blue:focus {
    border: 1.4px solid rgb(74, 189, 205);
    box-shadow: 0px 10px 20px -13px rgba(32, 94, 117, 0.35);
    outline: none;
    caret-color: rgb(64, 209, 228);
}

.label_blue {
    color: #0097A7;
}

.input_pink {
    border: none;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid rgb(252, 210, 224);
    transition: 0.3s;
}

.input_base.input_pink:focus {
    outline: none;
    border: 1px solid #FF5E94;
    caret-color: #FF5E94;
}

.label_pink {
    color: #be2e5f;
}