.tr_base {
    background-color: #fff;
}

.thead_base .tr_base.tr_default {
    background-color: #2e6a67;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
    font-weight: 500;
    border-bottom: 1px solid #dbe2e2;
}

.thead_base .tr_base.tr_orange {
    background-color: #fafafa;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.thead_base .tr_base.tr_pink {
    background-color: #b4004e;
    border: 1px solid #b4004e;
    font-size: 1em;
    font-weight: bold;
}

.thead_base .tr_base.tr_blue {
    background-color: #00BCD4;
    border: 1px solid #00BCD4;
    font-size: 1em;
    font-weight: 900;
}