.td_base {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.thead_base .td_base {
    color: #fff;
    padding: .8em;
}

.tbody_base .td_base {
    padding: .8em;
}

.thead_base .td_base.td_default {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
}

.tbody_base .td_base.td_default {
    border-bottom: 1px solid #dbe2e2;
}

.tbody_base .tr_base.tr_default:hover .td_base.td_default {
    background-color: rgba(141,218,192,0.10);
    cursor: pointer;
}

.thead_base .td_base.td_orange {
    color: #404040;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.tbody_base .td_base.td_orange {
    border-bottom: 1px solid #f3f3f3;
}

.tbody_base .tr_base.tr_orange:hover .td_base.td_orange {
    background-color: #fef8f2;
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 87, 34);
}

.tbody_base .td_base.td_pink {
    border-bottom: 1px solid rgb(252, 210, 224);
}

.tbody_base .tr_base.tr_pink:hover .td_base.td_pink {
    cursor: pointer;
    background-color:rgb(252, 210, 224);
}

.thead_base .td_base.td_blue {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
}

.tbody_base .td_base.td_blue {
    border-bottom: 1px solid #d0e3e4;
}

.tbody_base .tr_base.tr_blue:hover .td_base.td_blue {
    cursor: pointer;
    border-bottom: 1px solid #00BCD4;
}