.list_base {
    position: relative;
    align-items: center;
    width: 80%;
    padding: 20px;
    cursor: pointer;
    -webkit-column-break-inside: avoid; 
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 1em;
}

.list_default {
    background: #f5f9f9;
    border: 1px solid #f5f9f9;
    border-radius: 10px;
    align-items: center;
}

.list_base.list_default:hover {
    background: #fdfdfd;
    border-color: #95c6c3;
}

.list_orange {
    border: 1px solid;
    border-image: linear-gradient(45deg, #ff5722 35%, #ffb840 100%) 1;
}

.list_blue {
    border: 2px solid #eaf6f7;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px -15px #d0e3e4;
    box-shadow: 0 0 10px -5px #d0e3e4;
}

.list_base.list_blue:hover {
    border-color: #00BCD4;
}

.list_pink {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fdfdfd;
    box-shadow: 0 0 10px -15px #ccc;
}

.list_base.list_pink:hover {
    border-color: #FF5E94;
    background-color:  #fcf4f7;
}